/* CSS DOCUMENT */

* {
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

html,
body {
    background-color: #5831a0;
    font: normal 11pt Raleway, "Century Gothic", "Century Gothic", sans-serif, Arial;
    color: #DCDCDC;
}

h1 {
    margin-top: 5px;
    font: normal 60pt Lobster, "Century Gothic", "Century Gothic", sans-serif, Arial;
    color: #f185b3;
    text-align: center;
    /* text-shadow: -1px -1px 0px #000000; */
}

a {
    color: #0D7377;
    text-decoration: none;
}

a:hover {
    color: #14FFEC;
}

#wrapper {
    margin: 10px auto 0px auto;
}

#viewport {
    background-color: #000000;
    border: 2px solid #f8b61d;
}

#GamePad {
    padding: 10px 0px;
}